In [4]:
person = {
    "first": "Corey",
    "last": "Schafer",
    "email": "CoreyMSchafer@gmail.com",
}

In [5]:
people = {
    "first": ["Corey"],
    "last": ["Schafer"],
    "email": ["CoreyMSchafer@gmail.com"],
}

In [7]:
people = {
    "first": ["Corey", "Jane", "Joe"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["CoreyMSchafer@gmail.com", "JaneDoe@email.com", "JohnDoe@email.com"],
}

A Data Frame can be seen as a dictionaty, where the dictionary **keys are the DataFrame columns**, and the **values** (in the list) **are the diferent rows** for that column

In [11]:
people['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [8]:
import pandas as pd

In [9]:
df = pd.DataFrame(people)

DataFrames are two dimensional (columns and rows)

In [10]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2    Joe      Doe        JohnDoe@email.com

In [12]:
df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

The above code returns a Data Series (rows of a single column), one-dimensional

In [14]:
type(df['email'])

pandas.core.series.Series

In [15]:
df.email

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

One can access the content of a column using brackets (as a list) or with the dot-notation (object-like). **But** using the dot-notation can cause problems if you have a method with the same name of a column name:

`df.count` can be a method of the DataFrame

`df.count` can also be the name of a column of the DataFrame

We can access multiple columns of a DataFrame at one

In [16]:
df[['last', 'email']]

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com
2      Doe        JohnDoe@email.com

In [17]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

To access the rows, one can use the `loc` and/or the `iloc` methods.

* The `iloc` allow us to access the rows by passing the **i**nteger **loca**tion

In [18]:
df.iloc[0]

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

Accessing more than one row at once...

In [21]:
df.iloc[[0, 2]]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
2    Joe      Doe        JohnDoe@email.com

Accessing a cell (passing row and column notation)

In [24]:
df.iloc[0, 2]

'CoreyMSchafer@gmail.com'

Accessing the second column (index 1 -> 'last') of the first and third rows (indices 0 and 2)

In [25]:
df.iloc[[0,2], 1]

0    Schafer
2        Doe
Name: last, dtype: object

* The `loc` allow us to access the rows by passing the label, where the label for rows (at the moment) are the index of the rows

**At the moment**, for the rows, this is similar to `iloc`, because we don't have labels for the rows

In [28]:
df.loc[1]

first                 Jane
last                   Doe
email    JaneDoe@email.com
Name: 1, dtype: object

In [29]:
df.loc[[0, 2], 'email']

0    CoreyMSchafer@gmail.com
2          JohnDoe@email.com
Name: email, dtype: object

In [32]:
df.loc[[0, 1], ['last', 'first']]

      last  first
0  Schafer  Corey
1      Doe   Jane